.adventures {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.adventures .cmp-image-list {
  margin: 16px;
  display: inline-grid;
}

.adventures .adventure-item-image {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.adventures .adventure-item-title {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-weight: 500;
  line-height:41px
}

.adventures .adventure-item-price {
  background-color: black;
  opacity: 25%;
  color: white;
  text-align: center;
  border-radius: 35px;
  padding: 5px;
  display: inline-flex;
  border: 10px solid black;
}
